{
	"extends": ["plugin:@wordpress/eslint-plugin/recommended"],
	"parserOptions": {
		"parser": "@babel/eslint-parser",
		"requireConfigFile": false,
		"ecmaVersion": 2018,
		"sourceType": "module"
	}
}
