# Ignore mac-only files
.DS_Store
__DS_STORE
.DS_STORE

# Ignore node dependency directories
node_modules

# Ignore composer files and directories
composer.phar
composer.lock

# Ignore everything in the "vendor" directory, except:
# "composer" and "autoload"
vendor/*
!vendor/autoload.php
!vendor/composer/

# Ignore "wpcs" directory
wpcs
wpcs/*

# Ignore log files
*.log

# Ignore build directory
dist/*
challenge/*

# Ignore build package
*.zip
