/// -----------------------------------------------------------------------------
/// 🟢 Settings Row
///
/// Give styles to the settings row component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
.leighton-quito-settings-row {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	border: 0 solid #dcdcde;

	&:not(:last-child) {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom-width: 1px;
		box-shadow: 0 1px 0 0 #f6f7f7;
	}

	&__left {
		width: 205px;
		display: block;
		flex: 0 0 auto;
	}

	&__right {
		min-width: 1px;
		display: block;
		flex: 1;

		&:not(:only-child) {
			margin-left: 20px;
		}
	}

	&__title {
		display: block;
		color: #222;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.3;
	}
}
