/// -----------------------------------------------------------------------------
/// 🟢 WordPress
///
/// Overwrite WordPress default styles.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------

// Overwrites main content area
#wpcontent {
	position: relative;
	padding-left: 0 !important;
}

// Overwrites content wrapper styles
#leighton-quito-plugin {
	margin: 0 0 20px;
	color: #3c434a;
}
