@use '../_utils/utils' as *;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&family=Signika&display=swap');

/// -----------------------------------------------------------------------------
/// 🟢 Header
///
/// Give styles to the plugin header.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(header) {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 0;
	padding: 24px 20px;
	border: 0 solid #E27730;
	border-top-width: 3px;

	@include element(image) {
		flex: 0 0 auto;
	}

	@include element(slogan) {
		display: block;
		margin-left: 14px;
	}

	@include element(title) {
		margin: 0;
		padding: 0;
		color: #23282C;
		font-weight: 400;
		font-size: 28px;
		line-height: 32px;
		font-family: 'Jost', sans-serif;
		letter-spacing: 0.5px;
	}

	@include element(subtitle) {
		margin: 0;
		padding: 0;
		color: #999999;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		font-family: 'Jost', sans-serif;
		letter-spacing: 0;

		strong {
			color: $color-primary;
			font-family: 'Signika', sans-serif;
			font-weight: 400;
			font-size: 18px;
			letter-spacing: -1px;

			span {
				color: #5F5E5E;
			}
		}
	}
}
