@use '../_utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 Logo
///
/// Give styles to the logo used in the admin header.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(logo) {
	width: 60px;
	height: 60px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background: $color-secondary;

	@include element(image) {
		width: 42px;
		height: auto;
		display: block;
		margin: 0;
		padding: 0 0 10px;
		border: 0;
	}
}
