@use '../_utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 Tabs
///
/// Give styles to the tabs navigation component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(tabs) {
	@include element(menu) {
		min-height: 58px;
		display: flex;
		flex-flow: row wrap;
		margin: 0;
		padding: 0 20px;
		background: #fff;
		font-size: 14px;
	}

	@include element(item) {
		display: block;
		flex: 0 0 auto;
		margin: 0;
		margin-right: 30px;
		padding: 20px 0 18px 0;
		border: 0 solid #fff;
		border-bottom-width: 2px;
		box-shadow: none;
		color: #666;
		text-decoration: none;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			pointer-events: none;
			border-color: #e27730;
			color: #666;
		}

		&:hover {
			border-color: #999;
			color: #666;
		}

		&:focus {
			box-shadow: none;
		}
	}

	@include element(content) {
		padding: 0 20px;
	}
}
