@import url(https://fonts.googleapis.com/css2?family=Jost:wght@400&family=Signika&display=swap);
#wpcontent {
  position: relative;
  padding-left: 0 !important;
}

#wpbody {
  padding-top: 0 !important;
}

@keyframes Typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes BlinkingCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.52);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes Bounce {
  0% {
    opacity: 1;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes FadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes FadeOutLeft {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-32px, 0, 0);
  }
}
@keyframes SlideIn {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes SlideOut {
  from {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes SlideUpDown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
#leighton-quito-plugin {
  margin: 0 0 20px;
  color: #3C434A;
}
#leighton-quito-plugin ul {
  margin: 0;
  padding: 0;
}
#leighton-quito-plugin ul li {
  position: relative;
  margin: 0;
  padding: 0 0 2px 16px;
  color: #555555;
  font-size: 14px;
}
#leighton-quito-plugin ul li:before {
  content: "+";
  position: absolute;
  top: -1px;
  left: 0;
}

.leighton-quito-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
  padding: 24px 20px;
  border: 0 solid #E27730;
  border-top-width: 3px;
}
@media screen and (max-width: 600px) {
  .leighton-quito-header {
    border-top-width: 49px;
  }
}
.leighton-quito-header__image {
  flex: 0 0 auto;
}
.leighton-quito-header__slogan {
  display: block;
  margin-left: 14px;
}
.leighton-quito-header__title {
  margin: 0;
  padding: 0;
  color: #23282C;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  font-family: "Jost", sans-serif;
  letter-spacing: 0.5px;
}
.leighton-quito-header__subtitle {
  margin: 0;
  padding: 0;
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Jost", sans-serif;
  letter-spacing: 0;
}
.leighton-quito-header__subtitle strong {
  color: #e27730;
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -1px;
}
.leighton-quito-header__subtitle strong span {
  color: #5F5E5E;
}

.leighton-quito-tabs__menu {
  min-height: 58px;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0 20px;
  background: #fff;
  font-size: 14px;
}
.leighton-quito-tabs__item {
  display: block;
  flex: 0 0 auto;
  margin: 0;
  margin-right: 30px;
  padding: 20px 0 18px 0;
  border: 0 solid #fff;
  border-bottom-width: 2px;
  box-shadow: none;
  color: #666;
  text-decoration: none;
}
.leighton-quito-tabs__item:last-child {
  margin-right: 0;
}
.leighton-quito-tabs__item.active {
  pointer-events: none;
  border-color: #e27730;
  color: #666;
}
.leighton-quito-tabs__item:hover {
  border-color: #999;
  color: #666;
}
.leighton-quito-tabs__item:focus {
  box-shadow: none;
}
.leighton-quito-tabs__content {
  padding: 0 20px;
}

.leighton-quito-body {
  margin: 20px 0 0;
}
.leighton-quito-body__title {
  margin: 0 0 30px;
  color: #222222;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.leighton-quito-button {
  cursor: pointer;
  padding: 8px 12px;
  border: 0;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  font-size: 13px;
  font-weight: 600;
}
.leighton-quito-button * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.leighton-quito-button--primary {
  background: #e27730;
  color: #fff;
}
.leighton-quito-button--primary:hover {
  background: #b85a1b;
}
.leighton-quito-button--primary:focus {
  background: #b85a1b;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #b85a1b;
}
.leighton-quito-button--secondary {
  background: #738e9e;
  color: #fff;
}
.leighton-quito-button--secondary:hover {
  background: #395360;
}
.leighton-quito-button--secondary:focus {
  background: #395360;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #395360;
}
.leighton-quito-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.leighton-quito-input {
  width: 400px;
  margin: 0;
  padding: 7px 12px;
  border: 1px solid #999999;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: none;
  color: #555555;
  line-height: 19px;
}
.leighton-quito-input:last-child {
  margin-bottom: 0;
}
.leighton-quito-input:-moz-read-only {
  opacity: 0.5;
  pointer-events: none;
}
.leighton-quito-input:read-only {
  opacity: 0.5;
  pointer-events: none;
}

.leighton-quito-section {
  margin: 0;
  padding: 0;
  border: 0 solid #DCDCDE;
  color: #222222;
}
.leighton-quito-section:not(:last-child) {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom-width: 1px;
  box-shadow: 0 1px 0 0 #F6F7F7;
}
.leighton-quito-section__title {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.leighton-quito-section__content {
  max-width: 1005px;
  margin: 0;
}

.leighton-quito-row {
  margin: 0;
  padding: 0;
  border: 0 solid #DCDCDE;
}
.leighton-quito-row:not(:last-child) {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom-width: 1px;
  box-shadow: 0 1px 0 0 #F6F6F7;
}
@media (min-width: 783px) {
  .leighton-quito-row {
    display: flex;
    flex-flow: row wrap;
  }
}
.leighton-quito-row__title {
  display: block;
  margin: 0 0 10px;
  padding: 0;
  border: 0;
  color: #222222;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}
.leighton-quito-row__left {
  display: block;
}
@media (min-width: 783px) {
  .leighton-quito-row__left {
    width: 205px;
    flex: 0 0 auto;
  }
}
.leighton-quito-row__right {
  display: block;
}
@media (min-width: 783px) {
  .leighton-quito-row__right {
    min-width: 1px;
    flex: 1;
  }
  .leighton-quito-row__right:not(:only-child) {
    margin-left: 20px;
  }
}
