@use '../_utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 UI Radio
///
/// Give styles to the `UIRadio` component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(radio) {
	width: auto;
	flex: 0 0 auto;
	margin-right: auto;
	font-size: 14px;
	line-height: 20px;

	&:not(:last-child) {
		margin-bottom: 12px;
	}
}
