@use '../_utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 Email List
///
/// Give styles to the `EmailList` component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(email-list) {
	display: block;
	margin: 0;

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	@include element(item) {
		display: flex;
		flex-flow: row wrap;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		.leighton-quito-input {
			width: 100%;
			max-width: 400px;
			flex: 0 0 auto;
		}

		.leighton-quito-button {
			flex: 0 0 auto;
			margin-left: 10px;
		}
	}
}
