@use '../_utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 UI Input
///
/// Give styles to the `UIInput` component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
#leighton-quito-plugin {
	@include block(input) {
		margin: 0;
		padding: 7px 12px;
		font-size: 14px;
		line-height: 19px;

		&:read-only {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
