@use '../_utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 UI Input
///
/// Give styles to the `UIInput` component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
// #leighton-quito-plugin .leighton-quito-input {
@include block(input) {
	width: 400px;
	margin: 0;
	padding: 7px 12px;
	border: 1px solid $color-neutral-60;
	border-radius: 4px;
	background: $color-neutral-100;
	box-shadow: none;
	color: $color-neutral-30;
	line-height: 19px;

	&:last-child {
		margin-bottom: 0;
	}

	&:read-only {
		opacity: 0.5;
		pointer-events: none;
	}
}
