@use '../_utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 WordPress
///
/// Overwrites WordPress content wrapper (`.wrap`) styles.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
#leighton-quito-plugin {
	margin: 0 0 20px;
	color: #3C434A;

	h2, label {
		color: $color-neutral-10;
		font-weight: 600;
	}

	h2 {
		margin: 0 0 30px;
		font-size: 20px;
	}

	label {
		display: block;
		font-size: 14px;
		line-height: 1.3;
	}
}
