@use '../_utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 WordPress
///
/// Overwrites WordPress content wrapper (`.wrap`) styles.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
#leighton-quito-plugin {
	margin: 0 0 20px;
	color: #3C434A;

	ul {
		margin: 0;
		padding: 0;

		li {
			position: relative;
			margin: 0;
			padding: 0 0 2px 16px;
			color: $color-neutral-30;
			font-size: 14px;

			&:before {
				content: "+";
				position: absolute;
				top: -1px;
				left: 0;
			}
		}
	}
}
